.canvas-container {
  height: 100vh;
  position: relative;
}

.copyright-text {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 8px;
  max-width: 300px;
  font-weight: light;
  color: gray;
}
